
/* ******************* *//* ******************* */
/* Media Queries */
/* ******************* *//* ******************* */

@media only screen and (max-width:1360px) {
.site-header .logo__img {
    max-width: 280px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    padding: 10px 20px;
}
}
@media only screen and (max-width: 1024px) {
.site-footer {
    font-size: 12px;
}
}
@media only screen and (max-width: 1023px) {
.text-block .text-block-inner{
padding: 50px 0px;
}
.site-header .logo__img {
    max-width: 260px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    padding: 10px;
}
.navbar-default .navbar-nav > li.btn {
    padding: 0.5em 1em 0.5em;
    margin-left: 15px;
}
}
@media only screen and (max-width: 768px) {


.grid-container, .grid-container.text-image, .grid-container.image-text {
    grid-template-areas: 
    "img-block img-block"
    "text-container text-container";
    
}   
.grid-container .text-block, .grid-container.text-image .text-block, .grid-container.image-text .text-block {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.grid-container .text-block .text-block-inner, .grid-container.text-image .text-block .text-block-inner, .grid-container.image-text .text-block .text-block-inner {
    padding: 0px;
    margin: auto;
}

.image-header h1, .standard-header h1 {
    font-size: 60px;
}
}

@media only screen and (max-width: 767px) {

h1 { font-size: 42px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 16px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

.btn {
	font-size: 16px;
}


.before-header {
    font-size: 12px;
}
.navbar-nav {
	flex-flow: column wrap;
    justify-content: center;
	padding-bottom: 10px;
}
.navbar-default .navbar-nav > li.btn {
	margin-left: 0;
	margin-top: 10px;
}
.navbar-header {
	padding: 10px 0px;
}


.site-main.wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
}
body.single .post .entry-title {
    font-size: 36px;
}
.home .hero.section {
	padding-top: 80px;
    padding-bottom: 80px;
    min-height: none;
}
.home .hero.section .title {
	font-size: 42px;
}
.home .section {
    padding-top: 48px;
    padding-bottom: 48px;
}


.team-container .team-single {
	width: 100%;
}


}

@media only screen and (max-width: 480px) {

/* Site Logo */

.site-header .logo__img {
    max-width: 220px;
    margin-top: 0px;
}
.team-wrapper .team-single {
    width: calc(100% / 1);
}

/* Above Nav */


.before-header {
    font-size: 10px;
}

.above-nav {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.above-nav .container .widget {
    margin-left: 8px;
}
.above-nav .container .widget #contact_info {
    display: none;
}
.above-nav .simple-social-icons ul li {
    margin: 0 3px !important;
}

/* Above Header */

.above-header .connect {
    justify-content: space-between;
    float: none;
}
.above-header .connect li {
    margin-right: 0px;
    margin-left: 0px;
}
.above-header .connect li:first-child {
    margin-right: auto;
}
.above-header .connect .simple-social-icons ul li[class*="ssi-"] {
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.above-header .connect .simple-social-icons ul li[class*="ssi-"] a, .above-header .connect .simple-social-icons ul li[class*="ssi-"] a:hover {
    font-size: 14px !important;
    padding: 0.4em;
    
}

/* Headers */

.standard-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.image-header h1, .standard-header h1 {
    font-size: 24px;
}

/* Logo Block */
.logo-block img {
	max-width: 90px;
	margin: 15px;
}

}
