html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #404040;
    padding-bottom: 0px;
}

h1{
    font-size: 3.5em;
    font-weight: 400;
}

/*p, li, a {
    font-size: 17px;
    line-height: 1.625;
}*/

.no-margins{
    margin: 0 !important;
}

.site-main {
	padding-top: 65px;
	padding-bottom: 90px;
}

.site-header {
    margin-bottom: 0px;
    -webkit-box-shadow: 7px 10px 38px -5px rgba(0,0,0,0.48);
-moz-box-shadow: 7px 10px 38px -5px rgba(0,0,0,0.48);
box-shadow: 7px 10px 38px -5px rgba(0,0,0,0.48);
}

.home .site-main {
	padding-top: 0px;
	padding-bottom: 0px;
}

.wrapper {
    padding-top: 65px;
    padding-bottom: 65px;
}


.inside-header {
    text-align: center;
    background-color: darkslategrey;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #fff;
}



.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #e09400;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #e09400;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e09400;
}

.team-excerpt {
    font-size: 17px;
    padding-bottom: 45px;
}


.consult-wrap h2 {
    font-size: 49px;
}

.attorney-wrap h2 {
    font-size: 49px;
}

.subtitle{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
}

/* Styles */

.button {
    padding: 11px 45px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    line-height: 1.42857;
    user-select: none;
    margin-top: 15px;
    transition: .5s all ease-out;
}

.green-btn {
    background-color: #089883;
    color: #fff;

}

.green-btn:hover {
    background-color: #057b6a;
    color: #fff;
    text-decoration: none;

}

.yellow-btn {
    background-color: #f09f02;
    color: #fff;

}

.yellow-btn:hover {
    background-color: #e09400;
    color: #fff;
    text-decoration: none;

}


/*input#gform_submit_button_1 {
    background-color: #089883;
    color: #fff;
    padding: 11px 45px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    line-height: 1.42857;
    user-select: none;
    margin-top: 15px;
    transition: .5s all ease-out;
}*/

/*input#gform_submit_button_1:hover {
    background-color: #057b6a;
    color: #fff;
    text-decoration: none;
}*/

/*label.gfield_label {
    color: #089883;
}*/

h5.green-style {
    color: #089883;
}

/*.text-left {
    color: #089883;
}

.services-text h2 {
    color: #28903B;
    text-decoration: none;
}


.services-text h2 a:hover {
    color: #28903B;
}

.services-text a {
    text-decoration: none;
}
*/



/* Hero Section */

.hero-wrap {
    background: url(/wp-content/themes/roots/assets/img/mountain-bg.jpg) 50% 50% / cover;
    color: #fff;
    padding-top: 12vw;
    padding-bottom: 12vw;
    position: relative;
    -webkit-box-shadow: 7px 10px 38px -5px rgba(0,0,0,0.48);
    -moz-box-shadow: 7px 10px 38px -5px rgba(0,0,0,0.48);
    box-shadow: 7px 10px 38px -5px rgba(0,0,0,0.48);
}

.hero-wrap:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.55;
    z-index: 1;
}

.hero-wrap * {
    position: relative;
    z-index: 2;
}




/* Certifications */

/*.cert-wrap h3 {
    text-align: center;
    margin-bottom: 45px;
}

.cert-wrap img{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 45px;
}*/



/* Services Section Hompage */

.our-services-wrap h5 {
    padding-bottom: 25px;
}


.our-services-single* {
    position: relative;
}

.our-services-wrap {
    text-align: center;
}

.our-services-single a .our-services-head {
    z-index: 2;
}

.our-services-single a:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.50;
    z-index: 1;
}

.our-services-single a:before:hover{
    opacity: 0.70;
    transition: .5s all ease-out;
}

.our-services-single {
    position: relative;
    float: left;
    width: 20%;
    z-index: 2;
}


.our-services-single img {
    position: relative;
    max-height: 300px;
}

.our-services-head {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 0;
    right: 0;
}

.our-services-wrap a {
    margin-top: 30px;
}




/* Service Section Page */
.services-index .services-wrap-single {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    margin-bottom: 45px;
    padding-bottom: 45px;

}

.services-index .services-wrap-single img {
    width: 25%;
    height: auto;
    margin-right: 2em;
    max-width: 360px;
}

.services-index .services-wrap-single .services-text {
    width: 75%;
    max-width: 540px;
}

@media only screen and (max-width: 767px) {
    .services-index .services-wrap-single {
        flex-flow: column wrap;

}
    .services-index .services-wrap-single img {
        width: 100%;
        height: auto;
        margin-right: 0;
}

    .services-index .services-wrap-single .services-text {
        width: 100%;
    }


}



















/*li.services-wrap-single {
        display: flex;
        align-items: flex-start;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }


@media only screen and (min-width: 767px) {

}

li.services-wrap-single {
    margin-bottom: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    list-style-type: none;
}


@media only screen and (min-width: 767px) {
    li.services-wrap-single img {
        float: left;
        margin-right: 2em;
        width: 25%;
    }

}

@media only screen and (min-width: 767px) {
    .services-text {
        width: 75%;
        float: left;
        display: inline-block;
    }
}*/



/* Consultaion */

.consult-wrap * {
    position: relative;
    z-index: 2;
}
.consult-wrap {
    background-image: url(/wp-content/uploads/2018/06/AdobeStock_73340167_Preview.jpeg);
    color: #fff;
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
}

.consult-wrap:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #089883;
    opacity: 0.33;
    z-index: 1;
}


/* Meet Our Team */

.team-meet-wrap {
    text-align: center;
}

.team-meet-single {
    padding-bottom: 25px;
}

.team-meet-single img {
    margin-left: auto;
    margin-right: auto;
}

.team-meet-wrap h3 {
    color: #089883;
    padding-top: 25px;
}


.team-meet-wrap h5 {
    margin-bottom: 45px;
}

.team-meet-wrap a {
    margin-bottom: 45px;
}



/* Attorney */

.attorney-wrap * {
    position: relative;
    z-index: 2;
}
.attorney-wrap {
    background-image: url(/wp-content/uploads/2018/06/MVI_5974-1.jpg);
    color: #fff;
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
}

.attorney-wrap:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #089883;
    opacity: 0.33;
    z-index: 1;
}


/* Contact Us */

.contact-us-wrap h2 {
    color: #089883;
    margin-bottom: 35px;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    width: 100%;
}




/* Footer */

.site-footer * {
    position: relative;
}

.site-footer {
    /*background-color: darkslategrey;*/
    position: relative;
    color: #fff;
    /*font-size: 17px;*/
    position: relative;
    /*padding-top: 30px;*/
}

.site-footer:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #035549;*/
    /*opacity: 0.88;*/
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.site-footer a:hover {
    color: #e09400;
}

#gallery-1 .gallery-item {
    width: 80% !important;
}

#gallery-1 img {
    border: none !important;
}

.footer-upper .widget {
    margin-bottom: 42px;
}

.footer-upper .widget .menu [class*='menu-item'] {
    line-height: 2;
}

.widget-inner ul {
    list-style-type: none;
    padding: 0px;
}












